body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
}

h2 {
  color: #333;
}

.event {
  width: calc(33.33% - 20px); 
  box-sizing: border-box;
  margin-bottom: 20px;
  border-right: 2px solid #ccc; 
  padding-right: 20px;
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
textarea {
  width: 100
}